page-home {

    .btn-red{
        display: block;
        margin-top: 20px;
        background-color: #B71C1C;
    }

    ion-img{
        background: none;
        display: block;
        position:absolute;
        left: 0;
        right: 0;
        margin:0 auto;
        top:20%;
        transform:translateY(-50%);
    }

    #logo > img{
        width: 250px;
        height: 110px;
    }

    #home-form{
        display: block;
        margin-top: 210px;

    }

    #btn-create{
        display: block;
        border-color: #B71C1C;
        margin: 0 auto;
    }

}
