<ion-header>
  <ion-navbar>
    <ion-title>Détail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<h1> Résumé du voyage</h1>

<ion-card *ngFor="let voyage of voyageInfo?.voyage">

  <ion-item>
    <ion-avatar item-start>
      <ion-icon name="car" class="icon-size"></ion-icon>
    </ion-avatar>
    <div class="inline">
      <h2>{{voyage.depart}} - {{voyage.destination}}</h2>
      <p>Jour: {{voyage.date}}</p>
      <p>Heure: {{voyage.heure}} </p>
    </div>
  </ion-item>
  <button ion-button (tap)="deleteVoyage(voyage.id)">Annuler Voyage</button>

</ion-card>

<h1> Les participants </h1>

  <ion-card *ngFor="let participant of voyageInfo?.participants">
    <ion-card-header>
      {{participant.user.nom}} {{participant.user.prenom}}
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="call"></ion-icon> <h3 class="inline">Téléphone: {{participant.user.telephone}}</h3> <br/>

      <ion-icon name="mail"></ion-icon> <h3 class="inline">Mail: {{participant.user.email}}</h3>  
    </ion-card-content>

    <ion-row>

    <ion-col>
      <button ion-button icon-left clear class="text-vert">
        <ion-icon name="call"></ion-icon>
        <div class="text-vert">Appeler</div>
      </button>
    </ion-col>

    <ion-col>
      <button ion-button icon-left clear type="submit" (tap)="deleteParticipation(participant.id)">
        <ion-icon name="close-circle"></ion-icon>
        <div>Supprimer</div>
      </button>
    </ion-col>

  </ion-row>
  </ion-card>  

</ion-content>
