page-signup {

    ion-label {
        color: #B71C1C;
    }

    .btn-red{
        display: block;
        margin-top: 10px;
        background-color: #B71C1C;
    }

    text-red{
        color: #B71C1C;
    }


}
